.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  
}
.logo{
    width: 100px;
}
.navitems >ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;

}
.navitems >ul>li{
    padding: 10px;
    margin: 10px;
}
.restcard {
  width: 270px;
  min-height: 500px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  box-sizing: border-box;
}

.restcard:hover{
      border: 2px solid black;
}
.search{
    padding: 10px;
}
.res-logo {
  width: 100%;
  height: 180px;        /* FIXED height */
  object-fit: cover;   /* crops image nicely */
  border-radius: 5px;
}

.rest-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 1200px;
     margin: 0 auto; 
     
}
.App{
  background-color: rgb(255, 255, 255);
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}